body{
    margin:0;
    padding:0;
    background-size: cover;
    background-image: url("/assets/images/brooke-lark-08bOYnH_r_E-unsplash.jpg");
    box-sizing: border-box;
    background-repeat: no-repeat;   
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    overflow-x: hidden;
}

.name{
    font-family: 'Purple Purse', cursive;
    letter-spacing: 6px;
    font-size: 4.6vw;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

#box{
    width:50vw;
    height: 70vh;
    background-color:rgba(254,152,93,0.3);
    border-radius: 5px;
    display:flex;
    align-items: flex-end;
    justify-content: center;   
    border:1px solid rgb(124,152,133);
    box-shadow: 0px 0px 10px rgba(124,152,133,0.5);
    
}

 #start{
    margin-bottom: 30px;
    background-color:rgba(124,152,133,0.6);
    width: 14vw;
    padding: 6px;
    border-radius: 100px;
    font-family: 'Purple Purse', cursive;
    letter-spacing: 4px;
    box-shadow: 0px 0px 10px rgba(124,152,133,0.6);
    border:none;
   
   
}




