body{
    margin:0;
    padding:0;
    background-size: cover;
    background-image: url("/assets/images/brooke-lark-08bOYnH_r_E-unsplash.jpg");
    box-sizing: border-box;
    background-repeat: no-repeat;   
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    overflow-x: hidden;
}

.name{
    font-family: 'Purple Purse', cursive;
    letter-spacing: 7px;
    font-size: 4.6vw;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

#box{
    width:55vw;
    height: 80vh;
    margin-right: 50px;
    background-color:rgba(254,152,93,0.3);
    border-radius: 5px;
    display:flex;
    align-items: flex-end;
    justify-content: center;   
    border:2px solid rgba(124,152,133,0.5);
    box-shadow: 0px 0px 10px rgba(124,152,133,0.5);
    position: relative;
    
}

 #start{
    margin-bottom: 30px;
    background-color:rgba(124,152,133,0.6);
    width: 100px;
    height:100px;
    border-radius: 50%;
    padding: 6px;
    border-radius: 100px;
    font-family: 'Purple Purse', cursive;
     letter-spacing: 0.2vw; 
    box-shadow: 0px 0px 10px rgba(124,152,133,0.6);
    border:none;  
    animation-name: start;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transition: all ease-in-out 300ms; 
}

@keyframes start{
    0%{
        transform: scale(1);
       
     }
     50%{
       transform: scale(0.9);
}
}

#start:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all ease-in 250ms;
}

#main-text{
    margin: auto 10px;
    text-align: center;
    top: 70px;
    position: absolute;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    letter-spacing: 3px;
    
    display:flex;
    flex-wrap: wrap;
}

#leader-board{
    font-family: 'Raleway', sans-serif;
    text-decoration: underline double rgba(124,152,133,0.5) ;
    letter-spacing: 1px;
    position: absolute;
    top: 10px;
    left:10px;
    font-weight: bolder;
    display: inline-flex;
    flex-wrap: wrap;
}
#leader-board:hover{
    cursor: pointer;
}

#timer{
    color: #e14b32;
    display: inline-flex;
    flex-wrap: wrap;
    letter-spacing: 1px;
    position: absolute;
    top: 10px;
    right:50px;
    font-family: 'Purple Purse', cursive;
    font-size: 1.3rem;
}


#quiz{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 90px;
    font-size: 1.5rem;
    text-align:center;
    justify-content: center;
    align-items: center;
}

#choices{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 220px;
    font-size: 1.2rem;
    text-align:center;
    justify-content: center;
    align-items: center;
}

#A,#B,
#C,#D{
    background-color:rgba(124,152,133,0.6);
    border-radius: 100px;
    margin: 18px;
    padding: 1px;
    width: 150px;
    border:2px solid darkgrey;
    display: inline-flex;
    text-align: center;
    text-align:center;
    justify-content: center;

}

#A:hover,#B:hover,
#C:hover,#D:hover{
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px rgba(124,152,133,0.5);
    background-color:rgba(124,152,133,0.2);
    transform: scale(1.03);
    transition: all ease-in 150ms;
}

#progress{
    position: absolute;
    left: 10px;
    font-family: 'Purple Purse', cursive;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

#next{
    font-size: 50px;
    color: rgba(124,152,133,1);
    position: absolute;
    right:10px;
}
#next:hover{
    cursor: pointer;
    color: rgba(124,152,133,0.5);
    transform: rotate(360deg);
    transition: all ease 500ms;
}

 